*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --blue--sky: rgb(87,159,255,1);
    --blue--light: #579FFF;
    --blue--medium: #2D9BF0;
    --blue--dark: #222f4d;
    --grey:rgb(86, 95, 103);
    --gold:#FEBC30;
    --off--white: rgb(225, 242, 255);
}

html {
    width: 100%;
    margin: 0 auto;
    min-width: 375px;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    min-width: 375px;
    width: 100%;
}

main {
    margin: 0 auto;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    margin: .2em 0em;
}

h2 {
    font-family: 'Playfair Display', serif;
    color: var(--blue--dark);
    font-size: 36px;
    margin-top: 0em;
}

h3 {
    font-family: 'Playfair Display', serif;
    color: var(--blue--dark);
    font-size: 26px;
    margin: .5em auto;
}

img {
    width: 100%;
    border-radius: 10px;
}

/*Hero*/
.hero {
    min-height: 660px;
    width: 100%;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(78,177,255,1) 37%, rgba(45,155,240,1) 59%, rgba(87,159,255,1) 80%,rgba(87,159,255,1) 100%);
}

.hero_content {
    display: flex;
    align-items: center;

}

.hero_container {
    width: 100%;
    height: 100%;
    max-width: 1128px;
    margin: 0 auto;
    padding: 2em;
}

.hero_row {
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-column-gap: 32px;
    grid-row-gap: 50px;
}

.hero_text{
    color: white;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.2));
}

.hero_row p{
    font-family: 'Roboto', sans-serif;
    padding: 1em;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .4em;
    text-transform: uppercase;
}

.hero_btn {
    font-family: 'Roboto', sans-serif;
    background-color: #579FFF;
    font-size: 1.4em;
    color: white;
    border-radius: 100px;
    padding: .4em .8em;
    margin: 1em auto;
    text-decoration: none;
}

.btn:hover,
.hero_btn:hover,
.btn:focus,
.hero_btn:focus {
  opacity: .6;
}

.hero_img {
    display: flex;
    justify-self: flex-end;
    align-items: center;
    perspective: 1000px;
    /*
    border: 2px;
    border-color: pink;
    border-style: solid;
    */    
}

.hero_img img {
    transform: rotateY(-20deg);
    filter: drop-shadow(30px 10px 4px rgba(0, 0, 0, 0.483));
    max-width: 400px;
    animation:move-origin infinite 10s;
    border-radius: 10px;
}
/*
@keyframes move-origin {
    0% {transform: rotateY(-20deg);}
    50% {transform: rotateY(10deg);}
    100% {transform: rotateY(-20deg);}
}
*/


.container {
    width: 100%;
    max-width: 1128px;
    margin: 0 auto;
    padding: 2em;
}

.row {
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 32px;
    grid-row-gap: 80px;
}

.col_col {
    display: flex;
    flex-direction: column;
}

.col_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:2em
}

.col_center {
    text-align: center;
}

.col_left {
    text-align: left;
}

.footer {
    width: 100%;
    background-color: var(--blue--light);
}

.footer .row a{
    text-decoration: none;
    color: white;
}

.footer .row {
    column-gap: 10em;
    row-gap: 1em;
}

.footer img{
    filter: drop-shadow(15px 10px 4px rgba(0, 0, 0, 0.23));
}

@media (max-width:880px) {
    .hero_row {
        grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    }

    .hero_img {
        justify-self: center;
        align-items: center;
        width: fit-content;
        padding-right: 20px;
    }
    
    .row {
        grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
        padding-left: 2.5em;
        padding-right: 2.5em;
    }
    .media {
        order:2;
    }

    .footer h2{
        margin: 0 auto;
    }

    .footer .col_row{
        justify-content: space-around;
    }
}

@media (max-width:700px) {
    .hero {
        padding-top: 5em;
    }
    .hero_row {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    .media {
        order:2;
    }
    .row {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        padding: 0px;
    }

}

.nav_container {
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0;
    background-color: var(--blue--sky);
    box-shadow: 0px 2px 20px 0px rgb(87,159,255);
    z-index: 99;
    /*height: 55px;*/
}

/*Wide-navigation*/
.wide_nav {
    width: 100%;
    margin: 0 auto;
    height: 60px;
    max-width: 1128px;
    visibility: visible;
    transition: 0.6s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em .5em;
}

.wide_nav_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.wide_nav_item {
    margin: 0 1em;
    text-decoration: none;
    color: white;
}

.wide_nav_row div {
    align-self: center;

}

.burger_nav {
    order:0;
    margin-top: 10px;
    visibility: hidden;
    z-index: 999;
}

.hamburger_line {
    width: 40px;
    height: 10px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 8px;
    transition: all 0.3s ease-in;
}

#toggle {
    display:none;
}

  
  #toggle:checked + .hamburger #meat {
    transform: rotate(45deg);
    margin-top: 16px;
    background-color: white;
  }
  #toggle:checked + .hamburger #bottom-bun {
    opacity: 1;
    transform: rotate(-45deg);
    background-color: white;
    margin-top: -16px
  }
  

  #toggle:checked + .hamburger #top-bun {
    /*transform: rotate(-45deg);*/
    /*margin-top: 25px;*/
    background-color: white;
    opacity: 0;
    height: 0%;
  }
  


  #toggle:checked + .hamburger + .burger_popup{
    top: 60px;
    transform: scale(1);
  }
  

.burger_popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #2e4c46;
    opacity: .9;
    top: -100%; left: 0; right: 0; bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    z-index: 998;
    
  }
  .nav_wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    
  }

  .burger_popup {
    text-align: center;
    margin: 0;
  }

  .burger_popup a {
    position: relative;
    text-decoration: none;
    color: #6ecddd;
    font-size: 2em;
    display: inline-block;
    margin-top: 1.25em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
  }
  .burger_popup a:before {
    content: '';
    height: 0;
    position: absolute;
    width: 0.25em;
    background-color: white;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
  }
  .burger_popup a:hover {
    color: white;
  }
  .burger_popup a:hover:before {
    height: 100%;
  }

  


  @media
  (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

  @media (max-width: 600px) {
    .burger_nav{
        visibility: visible;
        margin-right: 20px;
        order:3;
    }
    .wide_nav_item{
        visibility:hidden;
    }
    #responsive_na{
        padding: 0 2em;
    }
  }
